:root {
    --scroll_item_width: 200px;
    --white: #faf0e6;
  }

body, html{
    font-family: var(--font-roboto), sans-serif;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    float: left;
    border: 1px solid red;
    background: #000000;
    --gap: 5em;
    --line: 1px;
    --color: rgba(150, 150, 150, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
}
main{
    width: 100%;
    height: 100%;
    float: left;

}
.Main{
    height: fit-content;
    width: 100%;
    float: left;
    border: 1px solid green;


    background: #000000;
    --gap: 5em;
    --line: 1px;
    --color: rgba(150, 150, 150, 0.2);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
}
.Navbar{
    height: 90px;
    width: 100%;
    float: left;
    /*border: 1px solid red;*/
    border-bottom-width: 1px; 
    /*border-color: #434343; */
    border-color: #262626; 
    background: rgb(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    z-index: 999999999999;
    position: sticky;
    top: 0;
}
.NavbarContent{
    height: 100%;
    width: 100%;
    float: left;
    /*border: 1px solid red;*/
    display: flex;
}
.NavbarLogo{
    height: 100%;
    width: 20%;
    width: 235px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavbarLogoContent{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NavbarLogoContent p{
    font-size: 35px;
    font-weight: 700;
    color: #00B99A;
}

.NavbarPages{
    height: 100%;
    width: calc(100% - 235px - 200px);
   /* width: 60%;*/
    float: left;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.NavbarPage{
    height: 100%;
    width: 100px;
    float: left;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4d4d4d;
    color: #676767;
    color: #575757;

    color: #6d6d6d;
}
.NavbarPage p{
    transition: ease-in-out 0.4s;
    cursor: pointer;
}
.NavbarPage p:hover{
    text-decoration: underline;
    color: #00B99A;
}
.NavbarAuth{
    height: 100%;
    width: 20%;
    width: 200px;
    float: left;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}
.NavbarAuthButton{
    width: 200px;
    font-size: 23px;
    font-weight: 600;
    
    height: 60px;
    width: 160px;
    border-radius: 15px;
    background-color: #18181b;
    border: 1px solid #262626;

    -webkit-box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    -moz-box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);

    -webkit-box-shadow: 0px 0px 28px 4px rgba(0,185,154,0.13);
-moz-box-shadow: 0px 0px 28px 4px rgba(0,185,154,0.13);
box-shadow: 0px 0px 28px 4px rgba(0,185,154,0.13);
    display: flex;
    align-items: center;
    justify-content: center;

}
.NavbarAuthButton p{
    color: #098b74;
    text-shadow: 0px 0px 28px 4px rgba(0,185,154,0.13);
    
}
.NavbarMenu{
    height: 100%;
    width: 60%;
    float: left;

    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.BurgerMenuButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-color: #18181b;
    border: 1px solid #262626;
    -webkit-box-shadow: 0 0 31px 4px #00b99a1a, inset 0 0 20px 2px #00b99a0f;
    -moz-box-shadow: 0 0 31px 4px #00b99a1a, inset 0 0 20px 2px #00b99a0f;
    box-shadow: 0 0 31px 4px #00b99a1a, inset 0 0 20px 2px #00b99a0f;
    -webkit-box-shadow: 0 0 28px 4px #00b99a21;
    -moz-box-shadow: 0 0 28px 4px #00b99a21;
    box-shadow: 0 0 28px 4px #00b99a21;
}
.BurgerMenuButton:hover{
    border-radius: 15px;
    background-color: #18181b;
    border: 1px solid #262626;
    -webkit-box-shadow: 0 0 31px 4px #00b99a1a, inset 0 0 20px 2px #00b99a0f;
    -moz-box-shadow: 0 0 31px 4px #00b99a1a, inset 0 0 20px 2px #00b99a0f;
    box-shadow: 0 0 31px 4px #00b99a1a, inset 0 0 20px 2px #00b99a0f;
    -webkit-box-shadow: 0 0 28px 4px #00b99a21;
    -moz-box-shadow: 0 0 28px 4px #00b99a21;
    box-shadow: 0 0 28px 4px #00b99a21;
}
.BurgerMenuButton svg{
    stroke: white;
}
.BurgerMenuMenu{
    color: white;
    border-radius: 15px;
    background-color: #18181b;
    border: 1px solid #262626;


-webkit-box-shadow:  0px 0px 20px 2px rgba(0,185,154,0.06), inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    -moz-box-shadow:  0px 0px 20px 2px rgba(0,185,154,0.06), inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    box-shadow:  0px 0px 20px 2px rgba(0,185,154,0.06), inset 0px 0px 20px 2px rgba(0,185,154,0.06);
}

.BurgerMenuMenu a{
    color: #6d6d6d;

}

































.Content{
    min-height: 1000px;
    height: fit-content;
    width: 100%;
    float: left;
}

.Hero{
    height: 800PX;
    width: 100%;
    float: left; 
}
.HeroContent{
    height: 100%;
    width: 60%;
    float: left;
}
.HeroCenter{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.HeroTitle{
    height: 100px;
    width: 100%;
    float: left;
}
.HeroTitle h2{
    font-size: 50px;
    font-weight: 700;
    color: white;
}
.HeroDescription{
    height: 100px;
    width: 100%;
    float: left;
}
.HeroDescription p{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.HeroButton{
    height: 60px;
    width: 140px;
    float: left;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B99A;
    border-radius: 10px;
    
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11998e, #38ef7d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11998e, #38ef7d); 


}
.HeroButton p{
    font-weight: 700;
    color: #fff;
}
.HeroImage{
    height: 100%;
    width: 40%;
    float: left;
}
.HeroScreen{
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    border: 1px solid red;
}
.MockupFrame{
    -webkit-box-shadow:  0px 0px 141px 31px #00B99A;
    -moz-box-shadow:  0px 0px 141px 31px #00B99A;
    box-shadow:  0px 0px 141px 31px #00B99A;


    -webkit-box-shadow: 0px 0px 106px 7px #00B99A;
    -moz-box-shadow: 0px 0px 106px 7px #00B99A;
    box-shadow: 0px 0px 106px 7px #00B99A;
}
.screen-shadow::before {
    content: "";
    position: absolute;
    inset: 0; /* Covers entire Feature */
    -webkit-box-shadow: insetFeaturex 0px 48px 8px rgba(255,255,255,0.08);
    -moz-box-shadow: inset 0pFeaturepx 48px 8px rgba(255,255,255,0.08);
    box-shadow: inset 0px 0px 48px 8px rgba(255,255,255,0Feature);
    pointer-events: none; /* Ensures interaction with elements inside */
    z-index: 1;
    border-radius: 30px;
}
.HeroPhone{
    position: absolute;
    right: 0;
    z-index: 32;
    bottom: 0;
    border-radius: 36px;
    -webkit-box-shadow: 0px 0px 69px 1px rgba(0,185,154,0.11);
    -moz-box-shadow: 0px 0px 69px 1px rgba(0,185,154,0.11);
    box-shadow: 0px 0px 69px 1px rgba(0,185,154,0.11);
}














.Features{
    min-height: 500px !important;
    height: fit-content;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 50px;
    border: 1px solid red;
    position: relative;
}
.FeatureGrid{
    /*height: 100%;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    border: 1px solid pink;
    display: flex;
    flex-wrap: wrap;
    */
    height: 100%;
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;

}
.Feature{
    /*
    height: 200px;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    background-color: #fff;
    background-color: #111113;
    border: 1px solid #202020;
*/


    height: 200px;
    width: 300px;
    margin: 10px;
    z-index: 1;
    border-radius: 20px;
    background-color: #fff;
    background-color: #18181b;
    border: 1px solid #262626;
    /*
    -webkit-box-shadow: 0px 0px 28px 4px rgba(0,185,154,0.13);
    -moz-box-shadow: 0px 0px 28px 4px rgba(0,185,154,0.13);
    box-shadow: 0px 0px 28px 4px rgba(0,185,154,0.13);
    */
/* really small shadow
    -webkit-box-shadow: 0px 0px 27px 4px rgba(0,185,154,0.1);
    -moz-box-shadow: 0px 0px 27px 4px rgba(0,185,154,0.1);
    box-shadow: 0px 0px 27px 4px rgba(0,185,154,0.1);
    */
    -webkit-box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);
-moz-box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);
box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);

}
@media (min-width: 600px) {
    .FeatureGrid { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 1400px) {
    .FeatureGrid { grid-template-columns: repeat(4, 1fr); }
  }
/*
.FeatureGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    }
    
    .Feature1 { grid-area: 1 / 1 / 2 / 2; }
    .Feature2 { grid-area: 1 / 2 / 2 / 3; }
    .Feature3 { grid-area: 2 / 1 / 3 / 2; }
    .Feature4 { grid-area: 2 / 2 / 3 / 3; }
    */
.FeatureLogo{
    width:100%;
    height: 35%;
    float: left;

    display: flex;
    align-items: center;
}
.FeatureContent{
    width:100%;
    height: 65%;
    float: left;
    display: flex;
}
.FeatureText{
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    width: fit-content;
    height: 85%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
}
.FeatureLogoCube{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #18181b;
    border: 1px solid #262626;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*
    -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    -moz-box-shadow: inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    box-shadow: inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    */
}
.FeatureLogoCube svg{
    stroke: #098b74;
}
.FeatureTitle{
    font-size: 20px;
    font-weight: 700;
    color: #708d85;
    color: #098b74;
    width: fit-content;
    height: 80%;
    float: left;

    display: flex;
    align-items: center;
    
}








































.TechScroll{
    height: fit-content;
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    z-index: 1;
}
.TechScrollContent{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}
/*
.TechScrollSection{
    overflow: hidden;
    height: fit-content;
    white-space: nowrap;
    animation: 10s linear infinite scrollText;
    margin: 0;
    font-size: 0;
    display: flex;
    width: 100%;

    justify-content: space-around;
    justify-content: space-between;
  width: fit-content;
  gap: 7px;
}
.TechScrollItem{
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #fff;
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    height: 65px;
    width: 160px;
    border-radius: 10px;
    background-color: #18181b;
    border: 1px solid #262626;

    -webkit-box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);
-moz-box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);
box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);

}

@keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
    */

.TechScrollSection{
    z-index: 1;
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(to right,
      rgba(0,0,0,0), 
      rgba(0,0,0,1) 20%,
      rgba(0,0,0,1) 80%,
      rgba(0,0,0,0)
    );
}
@keyframes scrollleft {
    to {
        left: calc(var(--scroll_item_width) * -1);
    }
}
.TechScrollItem{
    height: 100px;
    width: var( --scroll_item_width);
    background-color: #18181b;
    position: absolute;
    left: max(calc(var(--scroll_item_width) * 8), 100%);
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
    height: 65px;
    width: 160px;
    border-radius: 10px;
    background-color: #18181b;
    border: 1px solid #262626;

    -webkit-box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    -moz-box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    box-shadow: 0px 0px 31px 4px rgba(0,185,154,0.1),inset 0px 0px 20px 2px rgba(0,185,154,0.06);
    /*
    background-image: url(/node.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    */
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 15px;

}
.item1{
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
    
}
.item2{
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.item3{
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.item4{
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.item5{
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.item6{
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.item7{
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
.item8{
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}






.TechScrollTitle{
    height: 100px;
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.TechScrollTitle h2{
    width: fit-content;
    font-size: 26px;
    font-weight: 700;
    color: #757575;
    color: #098b74;
    -webkit-box-shadow: 0 0 31px 4px #00b99a1a, inset 0 0 20px 2px #00b99a0f;
    -moz-box-shadow: 0 0 31px 4px #00b99a1a, inset 0 0 20px 2px #00b99a0f;
    box-shadow: 0 0 31px 4px #00b99a1a, inset 0 0 20px 2px #00b99a0f;
}







































.FeatureBackgroundColor{
    width: 5rem;
    height: 5rem;
    position: absolute;
    /*
    top: 7rem;
    left: 5rem;
    */
    top: 7rem;
    left: -5rem;
    z-index: 0;
    background-color: #00B99A;


    -webkit-box-shadow: 0px 0px 106px 7px #00B99A;
    -moz-box-shadow: 0px 0px 106px 7px #00B99A;
    box-shadow: 0px 0px 106px 7px #00B99A;


    -webkit-box-shadow: 0px 0px 300px 200px rgba(0,185,154,1);
    -moz-box-shadow: 0px 0px 300px 200px rgba(0,185,154,1);
    box-shadow: 0px 0px 300px 200px rgba(0,185,154,1);
}
.TechScrollBackgroundColor{
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 7rem;
    right: 5rem;
    background-color: #00B99A;


    -webkit-box-shadow: 0px 0px 106px 7px #00B99A;
    -moz-box-shadow: 0px 0px 106px 7px #00B99A;
    box-shadow: 0px 0px 106px 7px #00B99A;
}