body, html{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    float: left;
}
.Main{
    height: 100%;
    width: 100%;
    float: left;
    border: 2px solid red;
}
.Title{
    height: 10%;
    width: 100%;
    float: left;
    border: 2px solid blue;
}
.Sidebar{
    height:90% ;
    width: 20%;
    float: left;
    border: 2px solid green;
}
.SettingsMenu{
    height: 80%;
    width: 100%;
    float: left;
    border: 1px solid red;
}
.SettingsMenuItem{
    height: 10%;
    width: 100%;
    float: left;
    border: 1px solid blue;
    transition: 0.5s;
}
.SettingsMenuItem:hover{
    background-color: rgb(32, 30, 30);
}
.SettingsMenuItemTitle{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
}
#brushSizeForm, #brushColorForm{
    height: 50%;
    width: 100%;
    float: left;
}
#brushSize, #brushColor{
    height: 100%;
    width: 100%;
    float: left;
}
.CanvasClear{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.CanvasClearButton{
    height: 80%;
    width: 100px;
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.CanvasSave{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.CanvasSaveButton{
    height: 80%;
    width: 100px;
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}












.Content{
    height:90% ;
    width: 80%;
    float: left;
    border: 2px solid brown;
}
.ContentTitle{
    float: left;
    height: 10%;
    width: 100%;
    border: 2px solid red;
}
.ContentCanvas{
    float: left;
    height: 90%;
    width: 100%;
    border: 2px solid red;
}

canvas{
    height: 100%;
    width: 100%;
}










.savedPostTable{
    height: fit-content;
    width: 100%;
    float: left;
    border: 1px solid blue;
    transition: 0.5s;
}
.savedPost{
    height: 100px;
    width: 100%;
    float: left;
    border: 1px solid red;
    transition: 0.5s;
}
.openSavedCanvasButton{
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    width: 70px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.hiddenImg{
    display: none;
}
.updateCanvasButton{
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    width: 70px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}