body, html{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    float: left;
}
cursor{
    color: white;
}
.Main{
    height: 100%;
    width: 100%;
    float: left;
    border: 2px solid red;
}
.Title{
    height: 10%;
    width: 100%;
    float: left;
    border: 2px solid blue;
}
.Sidebar{
    height:90% ;
    width: 20%;
    float: left;
    border: 2px solid green;
}
.SettingsMenu{
    height: 80%;
    width: 100%;
    float: left;
    border: 1px solid red;
}
.SettingsMenuItem{
    height: 10%;
    width: 100%;
    float: left;
    border: 1px solid blue;
    transition: 0.5s;
}
.SettingsMenuItem:hover{
    background-color: rgb(32, 30, 30);
}
.SettingsMenuItemTitle{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
}
#brushSizeForm, #brushColorForm{
    height: 50%;
    width: 100%;
    float: left;
}
#brushColorForm{
    height: 30px;
    width: 30px;
}
#brushSize, #brushColor{
    height: 100%;
    width: 100%;
    float: left;
}
.ToolItem{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.ToolButton{
    height: 80%;
    width: 100px;
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.CanvasClear{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.CanvasClearButton{
    height: 80%;
    width: 100px;
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.CanvasSave{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.CanvasSaveButton{
    height: 80%;
    width: 100px;
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}












.Content{
    height:90% ;
    width: 80%;
    float: left;
    border: 2px solid brown;
}
.ContentTitle{
    float: left;
    height: 10%;
    width: 100%;
    border: 2px solid red;
}
.ContentCanvas{
    float: left;
    height: 90%;
    width: 100%;
    border: 2px solid red;
}

canvas{
    height: 100%;
    width: 100%;
}










.savedPostTable{
    height: fit-content;
    width: 100%;
    float: left;
    border: 1px solid blue;
    transition: 0.5s;
}
.savedPost{
    width: 100%;
    float: left;
    transition: 0.5s;
    height: fit-content;
    padding: 5px;
    
}
.savedPostContent{
    height: 100%;
    width: 100%;
    /* float: left; */
    cursor: pointer;
    display: inline-flex;
    border-radius: 5px;
    padding: 3px;
    transition: all .3s ease-in-out;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.savedPostContent:hover{
    background-color: #313131;
}
.savedPostOpenPart{
    height: 100%;
    width: fit-content;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}
.savedPostOpenPart p{
    transition: all .6s ease-in-out;
}
.savedPostOpenPart p:hover{
    text-decoration: underline;
}
.savedPostQuickActionMenu{
    height: 100px;
    width: 100px;
    border: 1px solid red;
    position: absolute;
    left: 140px;
    top: 0px;

}





























.openSavedCanvasButton{
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    width: 70px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.hiddenImg{
    display: none;
}
.updateCanvasButton{
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    width: 70px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}












.Menu{
    height: 80px;
    width: 100%;
    float: left;
    border: 2px solid red;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.ToolMenu{
    height: 100%;
    width: fit-content;
    float: right;
    display: flex;
    align-items: center;
    gap: 8px;
}
.Tool{
    height: fit-content;
    width: fit-content;
    float: left;
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out 0.3s;
}
.ActionTool{
    height: fit-content;
    width: fit-content;
    float: left;
    
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out 0.3s;
}
.Tool:hover{
    background-color: #313131;
}
.ActionTool:hover{
    background-color: #313131;
}
.ActionMenu{
    width: fit-content;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}


.ActionSaveMenu{
    position: absolute;
    top: 63px;
    left: 0;
    width: 160px;
    height: fit-content;
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 6px;
    background-color: #313131;
    border-radius: 7px;
    gap: 6px;
    z-index: 43563654563487;
}
.ActionSaveMenu a {
    width: 100%;
}
.ActionSaveItem{
    height: 40px;
    width: 100%;

    float: left;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 5px;
}
.ActionSaveItem:hover{
    background: #676767;
}
.ActionSaveItemIcon{
    height: fit-content;
    width: fit-content;
    float: left;

}
.ActionSaveItemText{
    width: fit-content;
    height: fit-content;
    float: left;

}
.ActionSaveItemText p{
    font-size: 14px;
}




.checkBox {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 3px solid #fff0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 2px #fff;
}

.checkBox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
}

.checkBox input[type=checkbox]:checked + div {
    left: -10px;
    top: -10px;
}

.checkBox input[type=checkbox] {
    position: absolute;
    left: 50px;
    visibility: hidden;
}

.transition {
    transition: 300ms ease;
}
.FillTitle{
    text-align: center;
}
#FillTool{
    padding: 8px;
}
#brushColor{
    border-radius: 4px;
    border: none;
}
#BrushColorTool{
    padding: 6px;
}


#fillCheck{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#ShapeSelect{
    margin-top: 20px;
}
#ShapeSelect a {
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
#ShapeSelect #ShapeSelectHover{
    list-style: none;
    /* margin: 0 auto; */
    /* display: inline-block; */
    /* padding: 0 30px; */
    position: relative;
    text-decoration: none;
    text-align: center;
    height: 100%;

}




.ShapeSelectList{
    width: fit-content;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: -5;
    display: none;
    background: #313131;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  width: fit-content;
  opacity: 1;
  display: block;
  text-align: left;

  
}

#BottomShape{
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.ShapeSelectItem{
    clear: both;
    width: fit-content;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
    box-sizing: content-box;
    transition: ease-in-out 0.3s;
    
}
.ShapeSelectItem:hover{
    background: #676767;

}

.textbox {
    border: 1px solid #000;
    background-color: #f0f0f0;
    font-size: 24px;
    width: 400px;
    height: 40px;
    position: absolute;
    z-index: 10;
    display: none;
}














#ImageInputButton{
    position: relative;
}

.ImageInputCard{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50px;
    border: 1px solid red;
    background-color: #313131;
    padding: 10px;
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-radius: 7px;
}
.InputCardSection{
    width: 100%;
    height: fit-content;
    float: left;
    border: 1px solid red;
    display: flex;
    justify-content: center;
   
}
.InputCardTitle{
    height: fit-content;
    font-size: 20px;
    width: fit-content;
}
.ImageInputForm{
    width: fit-content;
    height: fit-content;
}
.ImageInput{
    width: fit-content;
}
.FormCardSection{
    display: flex;
    gap: 5px;
}
#ImageInputSubmit{
    margin-top: 10px;
    display: flex;
    width: 70px;
    height: 30px;
    background-color: #676767;
    float: right;
    border-radius: 4px;
    transition: background .2s ease-in-out;
}
#ImageInputSubmit:hover{
    background: #4d4d4d;
}
input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 7px;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #676767;
    padding: 5px 15px;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
input[type=file]::file-selector-button:hover {
    background: #4d4d4d;
}
.ImageLinkInput{
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 7px;
}






















.SaveCardDiv{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 43436;
    display: none;
    
}
.CanvasSaveNameCard{
    position: absolute;
    top: 65px;
    left: 10px;
    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    background-color: #313131;
    border-radius: 7px;
    gap: 6px;
    /* border: 1px solid red;*/
}
.CanvasSaveNameCardBlur{
    width: 100%;
    height: 100%;
    position: absolute;

}

.CanvasSaveNameCardForm{
    width: 100%;
    height: fit-content
}
.SaveNameForm{
    height: 100%;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    gap: 6px;
}
.SaveNameInput{
    width: 100%;
    max-width: 100%;
    height: 30px;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 7px;
}
.SavePostSubmit{
    display: flex;
    width: 70px;
    height: 30px;
    background-color: #676767;
    float: right;
    border-radius: 4px;
    transition: background .2s ease-in-out;
}
.SavePostSubmit:hover{
    background: rgb(90, 90, 90);
}




















.savedPostEditPart{
    height: 100%;
    width: fit-content;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;


    
}




/* From Uiverse.io by Na3ar-17 */ 
.card {
    width: 200px;
    /* background-color: rgba(36, 40, 50, 1);
  background-image: linear-gradient(135deg, rgba(36, 40, 50, 1) 0%, rgba(36, 40, 50, 1) 40%, rgba(37, 28, 40, 1) 100%); */
  
    background-color: rgba(36, 40, 50, 1);
    background-image: linear-gradient(
      139deg,
      rgba(36, 40, 50, 1) 0%,
      rgba(36, 40, 50, 1) 0%,
      rgba(37, 28, 40, 1) 100%
    );
  
    border-radius: 10px;
    padding: 15px 0px;
    flex-direction: column;
    gap: 10px;
    display: none;
    position: absolute;
    left: 180px;
    top: -10px;
  }
  
  .card .separator {
    border-top: 1.5px solid #42434a;
  }
  
  .card .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 10px;
  }
  
  .card .list .element {
    display: flex;
    align-items: center;
    color: #7e8590;
    gap: 10px;
    transition: all 0.3s ease-out;
    padding: 4px 7px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .card .list .element svg {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease-out;
  }
  
  .card .list .element .label {
    font-weight: 600;
  }
  
  .card .list .element:hover {
    background-color: #5353ff;
    color: #ffffff;
    transform: translate(1px, -1px);
  }
  .card .list .delete:hover {
    background-color: #8e2a2a;
  }
  
  .card .list .element:active {
    transform: scale(0.99);
  }
  
  .card .list:not(:last-child) .element:hover svg {
    stroke: #ffffff;
  }
  
  .card .list:last-child svg {
    stroke: #bd89ff;
  }
  .card .list:last-child .element {
    color: #bd89ff;
  }
  
  .card .list:last-child .element:hover {
    background-color: rgba(56, 45, 71, 0.836);
  }
  





















.RenameCardDiv{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 43436;
    display: none;
    
}
.CanvasRenameCard{
    position: absolute;
    top: 65px;
    left: 10px;
    width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    background-color: #313131;
    border-radius: 7px;
    gap: 6px;
    /* border: 1px solid red;*/
}
.RenameCardBlur{
    width: 100%;
    height: 100%;
    position: absolute;

}

.CanvasRenameFormDiv{
    width: 100%;
    height: fit-content
}
.CanvasRenameForm{
    height: 100%;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    gap: 6px;
}
.RenameInput{
    width: 100%;
    max-width: 100%;
    height: 30px;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 7px;
}
.RenameSubmit{
    display: flex;
    width: fit-content;
    padding-inline: 5px;
    height: 30px;
    background-color: #676767;
    float: right;
    border-radius: 4px;
    transition: background .2s ease-in-out;
}
.RenameSubmit:hover{
    background: rgb(90, 90, 90);
}






