body, html{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    float: left;
}
cursor{
    color: white;
}
.Main{
    height: 100%;
    width: 100%;
    float: left;
    border: 2px solid red;
}
.Title{
    height: 10%;
    width: 100%;
    float: left;
    border: 2px solid blue;
}
.Sidebar{
    height:90% ;
    width: 20%;
    float: left;
    border: 2px solid green;
}
.SettingsMenu{
    height: 80%;
    width: 100%;
    float: left;
    border: 1px solid red;
}
.SettingsMenuItem{
    height: 10%;
    width: 100%;
    float: left;
    border: 1px solid blue;
    transition: 0.5s;
}
.SettingsMenuItem:hover{
    background-color: rgb(32, 30, 30);
}
.SettingsMenuItemTitle{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
}
#brushSizeForm, #brushColorForm{
    height: 50%;
    width: 100%;
    float: left;
}
#brushColorForm{
    height: 30px;
    width: 30px;
}
#brushSize, #brushColor{
    height: 100%;
    width: 100%;
    float: left;
}
.ToolItem{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.ToolButton{
    height: 80%;
    width: 100px;
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.CanvasClear{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.CanvasClearButton{
    height: 80%;
    width: 100px;
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.CanvasSave{
    height:50%;
    width: 100%;
    float: left;
    border: 1px solid green;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.CanvasSaveButton{
    height: 80%;
    width: 100px;
    background-color: rgb(12, 12, 12);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}












.Content{
    height:90% ;
    width: 80%;
    float: left;
    border: 2px solid brown;
}
.ContentTitle{
    float: left;
    height: 10%;
    width: 100%;
    border: 2px solid red;
}
.ContentCanvas{
    float: left;
    height: 90%;
    width: 100%;
    border: 2px solid red;
}

canvas{
    height: 100%;
    width: 100%;
}










.savedPostTable{
    height: fit-content;
    width: 100%;
    float: left;
    border: 1px solid blue;
    transition: 0.5s;
}
.savedPost{
    height: 100px;
    width: 100%;
    float: left;
    border: 1px solid red;
    transition: 0.5s;
}
.openSavedCanvasButton{
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    width: 70px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.hiddenImg{
    display: none;
}
.updateCanvasButton{
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    width: 70px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}












.Menu{
    height: 80px;
    width: 100%;
    float: left;
    border: 2px solid red;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.ToolMenu{
    height: 100%;
    width: fit-content;
    float: right;
    display: flex;
    align-items: center;
    gap: 8px;
}
.Tool{
    height: fit-content;
    width: fit-content;
    float: left;
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out 0.3s;
}
.ActionTool{
    height: fit-content;
    width: fit-content;
    float: left;
    
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out 0.3s;
}
.Tool:hover{
    background-color: #313131;
}
.ActionTool:hover{
    background-color: #313131;
}
.ActionMenu{
    width: fit-content;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    gap: 8px;
}
#fillCheck{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#ShapeSelect{
    margin-top: 20px;
}
#ShapeSelect a {
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
#ShapeSelect #ShapeSelectHover{
    list-style: none;
    /* margin: 0 auto; */
    /* display: inline-block; */
    /* padding: 0 30px; */
    position: relative;
    text-decoration: none;
    text-align: center;
    height: 100%;

}




.ShapeSelectList{
    width: fit-content;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: #313131;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  width: fit-content;
  opacity: 1;
  display: block;
  text-align: left;
  padding-top: 20px;
  
  box-shadow: 0px 3px 5px -1px #ccc;
}

.ShapeSelectItem{
    clear: both;
    width: fit-content;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    box-sizing: content-box;
}
.ShapeSelectItem:hover{
    background: #676767;

}